{% extends 'base.html.twig' %}

{% block title %}All programs of category {{ categoryName }}{% endblock %}

{% block body %}
    <h1>Les 3 dernières séries de la catégorie {{ categoryName }}</h1>
    {% for program in programs %}
        <div>
            <h2>{{ program.id }} / {{ program.title }}</h2>
            <p>{{ program.summary }}</p>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}