{% extends 'base.html.twig' %}

{% block title %}All programs of category {{ categoryName }}{% endblock %}

{% block body %}
    <h1>Les 3 dernières séries de la catégorie {{ categoryName }}</h1>
    {% for program in programs %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <a href="show/{{ program.title }}">
                        <img src="{{ program.poster }}" class="card-img" alt="{{ program.title }}">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ program.title }}</h5>
                        <p class="card-text">Série n°{{ program.id }} - {{ program.summary }}</p>
                        <p class="card-text"><small class="text-muted">Catégorie : {{ program.category.name }}</small></p>
                        <a href="show/walking-dead">
                            <h5 class="card-title">Découvrir les saisons</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}