{% extends 'base.html.twig' %}

{% block title %}Acteurs{% endblock %}

{% block body %}
    <h1>Acteurs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ actor.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ actor.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ actor.slug }}</td>
            </tr>
            <tr>
                <th>Séries où joue cet acteur</th>
                <td><ul>
                        {% for program in actor.programs %}
                            <li><a href="{{ path('program_show', {'slug' : program.slug}) }}">{{ program.title }}</a></li>
                        {% else %}
                            <li>Aucune série pour cet acteur</li>
                        {% endfor %}
                    </ul></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('actor_index') }}">back to list</a>

    <a href="{{ path('actor_edit', {'slug': actor.slug}) }}">edit</a>

    {{ include('actor/_delete_form.html.twig') }}
{% endblock %}
