{# templates/wild/show_episode.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}{{  episode.title }}{% endblock %}

{% block body %}

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <a class="mt-0" href="{{ path('show', {'slug': program_title}) }}">
                    <img src="{{ program.poster }}" class="card-img" alt="{{ program.title }}">
                </a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <a class="mt-0" href="{{ path('show', {'slug': program_title}) }}">{{ program.title }}</a> -
                        <a href = "{{ path('show_season', {'id': season.id}) }}">{{ season.description }}</a></h2>
                    <p>{{ program.summary }}</p>
                    <h3 class="mt-0">Episode {{ episode.number }} - {{ episode.title }}</h3>
                    <p>{{ episode.synopsis }}</p>
                </div>
            </div>
        </div>
    </div>

    <a href="{{ path('wild_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}